html {
    background-image: url('/backgroundDarker.png');
}

body {
    overflow: hidden; /* Hide scrollbars */

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

.currentlyPlaying {
    position: fixed;
    top: 0;
    left: 0;
    margin: 1%;
}

.upNext {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1%;
    text-align: right;
}
.upNextItem {
    margin-top: 5%;
}

.time {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 1%;
}
