<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Spotify Dance Info</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
        <link rel="stylesheet" href="/connect.css">
        <link rel="stylesheet" href="/site.css">
        <script src="https://kit.fontawesome.com/501b8808a2.js" type="text/javascript" defer=""></script>
        <script type="application/javascript">
            function copyCode() {
                try {
                    navigator.clipboard.writeText(document.getElementById('redirectUrl').value);
                    document.getElementById('copyStatus').innerHTML = 'The url has been copied to clipboard';
                } catch (err) {
                    document.getElementById('copyStatus').innerHTML = 'Failed to copy: ' + err;
                }
            }
        </script>
    </head>
    <body>
        <section class="section">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-half">
                        <h1 class="title">Spotify Dance Info</h1>
                        <form enctype="multipart/form-data" class="box" th:action="@{/}" th:object="${ConnectForm}" method="post">
                            <div class="block">
                                Copy the client id and secret from Spotify, as described in the <a href="https://developer.spotify.com/documentation/web-api" target="_blank">getting started</a> section in Spotify's WebAPI documentation.
                                During the WebAPI set up, use the value below for the redirect URL.
                            </div>

                            <div class="field">
                                <label class="label">Redirect URL</label>
                                <div class="control">
                                    <input id="redirectUrl" class="input" type="url" th:field="*{redirectUrl}" style="width: 95%;"/>
                                    <span class="icon" style="padding-top: 10px;" onclick="copyCode()"><i class="fas fa-copy fa-xl"></i></span>
                                </div>
                                <div id="copyStatus" style="text-align: end;">
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Client id</label>
                                <div class="control">
                                    <input id="clientId" class="input" type="text" th:field="*{clientId}"/>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Client secret</label>
                                <div class="control">
                                    <input id="clientSecret" class="input" type="text" th:field="*{clientSecret}"/>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Track-to-dance(s) map</label>
                                <div class="control">
                                    <input id="file" class="input" type="file" name="file"/>
                                </div>
                            </div>
                            <div class="block">
                                You may provide a TSV (tab separated) or Excel (xls, xlsx) file that maps track ids to dances.
                                <ul>
                                    <li class="bullet">The first column must contain the track id.</li>
                                    <li class="bullet">The second column must contain the dance, or dances separated by a comma.</li>
                                    <li class="bullet">Excel file must have this information on the first sheet.</li>
                                </ul>
                            </div>

                            <button class="button is-primary">Connect</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>