<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Spotify Dance Info</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
        <link rel="stylesheet" href="/spotify.css">
        <link rel="stylesheet" href="/site.css">
        <script src="https://unpkg.com/htmx.org@1.9.11"></script>
    </head>
    <body hx-trigger="every 2s" hx-get="/spotify" hx-swap="innerHTML">
        <div class="currentlyPlaying">
            <h1 class="title is-1" th:text="${ScreenData.currentlyPlaying().title()}">?</h1>
            <h2 class="subtitle is-1" th:text="${ScreenData.currentlyPlaying().artist()}">?</h2>
            <h3 class="title is-3" th:each="dance : ${ScreenData.currentlyPlaying().dances()}" th:text="${dance}">?</h3>
        </div>
        <div class="upNext">
            <div class="upNextItem" th:each="nextUp : ${ScreenData.nextUp()}">
                <h1 class="title is-1" th:text="${nextUp.title() + (nextUp.artist().isBlank() ? '' : ' - ' + nextUp.artist())}">?</h1>
                <h2 class="subtitle is-2" th:each="dance : ${nextUp.dances()}" th:text="${dance}">?</h2>
            </div>
        </div>
    </body>
</html>