<!doctype html>
<html lang="en" th:fragment="template(header,body)">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Spotify Dance Info</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
        <link rel="stylesheet" th:href="${'/site.css?cachebuster='+ version}">
        <script src="https://kit.fontawesome.com/501b8808a2.js" type="text/javascript" defer=""></script>
        <script src="https://unpkg.com/htmx.org@1.9.11"></script>
        <th:block th:replace="${header}" />
    </head>
    <body>
        <th:block th:replace="${body}" />
    </body>
</html>