body {
    /* https://blog.logrocket.com/css-full-page-background/ */
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    overflow: hidden; /* Hide scrollbars */

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

.title {
    -webkit-text-stroke: 1px black; /* width and color */
    color: white;
}
.subtitle {
    -webkit-text-stroke: 1px black; /* width and color */
    color: white;
}
